/*** MEDIA CALLS ***/
/** iphone 6 375px**/
@media only screen and (max-width: 400px) and (min-width: 1px) {
	#home-page-articles .wpb_wrapper div {
		margin-bottom: -7px;
	}
	
	#home-page-articles .home-page-article-title {
		padding-bottom: 10px;
		letter-spacing: -.5px;
	}
	
	#home-page-articles .home-page-article-p {
		padding-bottom: 11px;
		letter-spacing: -.5px;
	}
	
	#home-page-articles .home-page-article-rm {
		border-bottom: 1px solid #dfdfdf;
		padding-bottom: 20px;
	}
	
	#home-page-articles > div.col.span_12.dark.left > div:nth-child(3) > div > div.wpb_text_column.wpb_content_element > div > p.home-page-article-rm {
		border-bottom: 0;
		padding-bottom: 0;
	}
	
	#home-page-articles {
		margin-bottom: 0 !important;
	}
	
	#home-choose-goal,
.home-page-tab-wrap,
.home-page-slider {
		display: none !important;
	}
	
	.woocommerce-cart form div.col.span_8 {
		background: none;
	}
	
	.single-product .container-wrap {
		background-position: right -103px !important;
	}
	
	.woocommerce div.product_meta {
		margin-top: 0 !important;
	}
	
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title {
		color: #000 !important;
		font-size: 38px !important;
		margin-bottom: 0 !important;
	}
	
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
		font-size: 38px !important;
	}
	
	.summary ul li {
		color: #000 !important;
	}
	
	.woocommerce div.product form.variations_form {
		margin-bottom: 29px !important;
		border: 0;
		width: 100%;
		background-color: #f1f1f1 !important;
		box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		margin-left: -50%;
		padding-left: 50%;
		padding-right: 50%;
	}
	
	.woocommerce div.product form.variations_form, .woocommerce div.product form.cart::after, .woocommerce div.product form.cart::before {
		display: table !important;
	}
	
	.woocommerce table.variations {
		margin-left: 0 !important;
	}
	
	.woocommerce div.product form.cart table td.value {
		padding-left: 0;
		width: 292px;
		display: block;
	}
	
	#pa_flavor, #pa_servings, #pa_color, #pa_size {
		font-size: 16px;
	}
	
	#pa_servings, #pa_size {
		margin-top: 16px;
	}
	
	.woocommerce div.quantity.buttons_added {
		padding: 0 !important;
	}
	
	form.variations_form div.quantity input.minus,
	form.variations_form div.quantity input.qty,
	form.variations_form div.quantity input.plus {
		height: 60px !important;
	}
	
	.woocommerce button.single_add_to_cart_button.button.alt {
		margin-top: 15px !important;
		width: 100%;
		box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		margin-left: -50% !important;
		padding-left: 59% !important;
		padding-right: 50% !important;
		font-size: 30px !important;
		padding-top: 27px;
		padding-bottom: 27px;
		font-weight: 800 !important;
		text-transform: uppercase;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		display: flex !important;
		display: -webkit-box !important;
	/* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box !important;
	/* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox !important;
	/* TWEENER - IE 10 */
		display: -webkit-flex !important;
	/* NEW - Chrome */
	}
	
	.creatine-milestone {
		text-align: center;
	}
	
	.creatine-milestone > div.row-bg-wrap > div {
		background: none !important;
		border-bottom: 1px solid #f1f1f1;
	}
	
	.creatine-milestone > div.col.span_12.light.left {
		color: #000;
	}
	
	.nectar-milestone {
		text-align: center;
		display: inline-flex;
	}
	
	.nectar-milestone .number {
		font-family: proxima-nova;
		margin-bottom: 0;
		line-height: 40px;
		color: #d50000;
		font-size: 43px;
	}
	
	.nectar-milestone .subject {
		font-family: proxima-nova;
		line-height: 40px;
		font-size: 28px !important;
		padding-top: 0 !important;
		margin-left: 8px;
		font-weight: 400;
	}
	
	.get-started {
		font-size: 21px !important;
		text-transform: uppercase;
	}
	
	.creatine-guarantee p:first-child {
		text-align: center !important;
	}
	
	.creatine-guarantee > div.col.span_12.dark > div > div > div > div > p > img {
		float: none !important;
		margin-right: 0 !important;
		display: inline;
	}
	
	.creatine-guarantee h2 {
		text-align: center !important;
	}
	
	.single-product-main-image {
		margin-bottom: 0 !important;
	}
	
	.woocommerce p.price del span.amount {
		color: #666667 !important;
	}
	
	.woocommerce p.price ins span.amount {
		color: #000 !important;
		font-size: 38px;
	}
	
	.buy-it-now-ghost {
		margin-left: 0 !important;
		line-height: 2.5 !important;
	}
	
	div.nectar-milestone > div.number > span {
		font-weight: 800;
	}
	
	.woocommerce div.product form.cart table td.value:nth-child(2) {
		padding-left: 0 !important;
	}
	
	.woocommerce div.quantity.buttons_added {
		background-color: #f1f1f1 !important;
	}
	
	img.creatine-divider {
		content: url("http://aptsupps.com/wp-content/uploads/2015/04/h-divider.jpg");
	}
	
	.creatine-work h2 {
		font-size: 28px !important;
	}
	
	.postid-940.single-product .container-wrap {
		background-image: url('http://aptsupps.com/wp-content/uploads/2015/04/creatine-bg-top-color-sm.jpg') !important;
		background-position: top !important;
		background-repeat: no-repeat !important;
	}
}

@media only screen and (max-width: 600px) and (min-width: 1px) {
	#try-product > div.col.span_12.dark > div > div > div > div > p {
		font-size: 12px !important;
	}
	
	#footer-outer .row {
		padding: 4% 0 0 !important;
	}
	
	#footer-widgets > div > div > div:nth-child(2) {
		padding-left: 0 !important;
	}
	
	#footer-widgets .container .col {
		margin-bottom: 7% !important;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 401px) {
	.single-product-main-image {
		margin-bottom: 0 !important;
	}
	
	#single-meta {
		margin-top: 0 !important;
	}
	
	.creatine-milestone {
		text-align: center;
	}
	
	.creatine-milestone > div.row-bg-wrap > div {
		background: none !important;
		border-bottom: 1px solid #f1f1f1;
	}
	
	.creatine-milestone > div.col.span_12.light.left {
		color: #000;
	}
	
	.nectar-milestone {
		text-align: center;
		display: inline-flex;
	}
	
	.nectar-milestone .number {
		font-family: proxima-nova;
		margin-bottom: 0;
		line-height: 40px;
		color: #d50000;
		font-size: 43px;
	}
	
	.nectar-milestone .subject {
		font-family: proxima-nova;
		line-height: 40px;
		font-size: 28px !important;
		padding-top: 0 !important;
		margin-left: 8px;
		font-weight: 400;
	}
	
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title {
		color: #000 !important;
		font-size: 38px !important;
		margin-bottom: 0 !important;
	}
	
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
		font-size: 38px !important;
	}
	
	.summary ul li {
		color: #000 !important;
	}
	
	.woocommerce div.product_meta {
		margin-top: 0 !important;
	}
	
	.woocommerce .single-product-summary div.single_variation ins span.amount, .woocommerce p.price ins span.amount {
		color: #000 !important;
	}
}

@media only screen and (max-width: 1355px) and (min-width: 1001px) {
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title {
		font-size: 4.5em !important;
		font-size: 45px !important;
	}
	
	div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
		font-size: 35px !important;
	}
}

@media only screen and (min-width: 401px) {
	.woocommerce div.product form.variations_form,
	.woocommerce div.product form.cart::after, 
	.woocommerce div.product form.cart::before {
		display: flex !important;
		margin-bottom: 0 !important;
	}
	
	.woocommerce button.single_add_to_cart_button.button.alt {
		font-weight: 800 !important;
		text-transform: uppercase;
		padding: 27px 10px !important;
		border-radius: 0 !important;
		margin: 0 !important;
	}
	
	.creatine-illustration-left,
	.creatine-illustration-right {
		width: 47% !important;
	}
	
	.creatine-illustration-divider {
		width: 1% !important;
	}
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
	.woocommerce form.variations_form.cart {
		width: 499px !important;
	}
}

@media only screen and (max-width: 690px) and (min-width: 401px) {
	.woocommerce div.product form.cart table td.value:nth-child(2) {
		padding-left: 0 !important;
	}
	
	.woocommerce div.quantity.buttons_added {
		background-color: #f1f1f1 !important;
	}
	
	.woocommerce p.price del span.amount {
		color: #666667 !important;
	}
	
	.woocommerce p.price ins span.amount {
		color: #000 !important;
		font-size: 38px;
	}
	
	.woocommerce div.product form.variations_form {
		margin-bottom: 29px !important;
		border: 0;
		width: 100%;
		background-color: #f1f1f1 !important;
		box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		margin-left: -50%;
		padding-left: 50%;
		padding-right: 50%;
	}
	
	.woocommerce div.product form.variations_form, .woocommerce div.product form.cart::after, .woocommerce div.product form.cart::before {
		display: table !important;
	}
	
	.woocommerce table.variations {
		margin-left: 0 !important;
	}
	
	.woocommerce div.product form.cart table td.value {
		padding-left: 0;
		width: 292px;
		display: block;
	}
	
	#pa_flavor, #pa_servings, #pa_color, #pa_size {
		font-size: 16px;
	}
	
	#pa_servings, #pa_size {
		margin-top: 16px;
	}
	
	.woocommerce div.quantity.buttons_added {
		padding: 0 !important;
	}
	
	form.variations_form div.quantity input.minus,
																																																																																																																																																																																																form.variations_form div.quantity input.qty,
																																																																																																																																																																																																form.variations_form div.quantity input.plus {
		height: 60px !important;
	}
	
	.woocommerce button.single_add_to_cart_button.button.alt {
		margin-top: 15px !important;
		width: 100%;
		box-sizing: content-box !important;
		-moz-box-sizing: content-box !important;
		-webkit-box-sizing: content-box !important;
		margin-left: -50% !important;
		padding-left: 59% !important;
		padding-right: 50% !important;
		font-size: 30px !important;
		padding-top: 27px;
		padding-bottom: 27px;
		font-weight: 800 !important;
		text-transform: uppercase;
	}
	
	.woocommerce div.product .woocommerce-tabs ul.tabs {
		display: flex !important;
		display: -webkit-box !important;
		display: -moz-box !important;
		display: -ms-flexbox !important;
		display: -webkit-flex !important;
	}
}

@media only screen and (min-width: 1001px) {
	/* header nav cc slant bar */
	#header-outer {
		left: 0;
		right: 0;
		-webkit-transform: skew(-15deg);
		-moz-transform: skew(-15deg);
		-o-transform: skew(-15deg);
		transform: skew(-15deg);
		width: 94%;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		padding-top: 15px !important;
		padding-bottom: 2px !important;
		margin-top: 15px;
	}
	
	.logged-in #header-outer {
		margin: -17px auto 0;
	}
	
	#header-outer > div > div.cart-menu-wrap div.cart-icon-wrap,
																																																																																																																#top > div > div > div.col.span_3,
																																																																																																																#search-btn > div > a > span,
																																																																																																																header#top nav > ul > li > a {
		-webkit-transform: skew(15deg) !important;
		-moz-transform: skew(15deg) !important;
		-o-transform: skew(15deg) !important;
		transform: skew(15deg) !important;
	}
	
	body.home #header-outer {
		top: 60px !important;
		margin: 13px auto 0;
	}
	
	body.single-product #header-outer {
		top: 60px !important;
		margin: 0 auto;
	}
	
	body.home {
		margin-top: -58px;
	}
	
	body.single-product {
		margin-top: -45px;
	}/* cc slant end */
	
}

@media only screen and (max-width: 690px) and (min-width: 480px) {
	.woocommerce button.single_add_to_cart_button.button.alt {
		padding: 27px 93% 27px 95% !important;
		margin-left: -60% !important;
	}
	
	.woocommerce div.product form.cart table td.value {
		width: 412px !important;
	}
}

@media only screen and (max-width: 479px) and (min-width: 401px) {
	.woocommerce div.product_meta {
		margin-top: 29% !important;
	}
}

/*** HOME (.home) ***/
.home.ascend .container-wrap {
	background-color: #1c1c1c;
}

.ascend .container-wrap, .ascend .project-title, body .vc_text_separator div, .carousel-wrap[data-full-width="true"] .carousel-heading, .carousel-wrap span.left-border, .carousel-wrap span.right-border, #page-header-wrap, .page-header-no-bg, #full_width_portfolio .project-title.parallax-effect, .portfolio-items .col, .page-template-template-portfolio-php .portfolio-items .col.span_3, .page-template-template-portfolio-php .portfolio-items .col.span_4 {
	background-color: #fff;
}

.swiper-slide .content h2,
.swiper-slide .content p,
#page-header-bg .subheader,
.portfolio-filters-inline #current-category,
.nectar-milestone .subject,
body .vc_pie_chart .vc_pie_chart_value,
.toggle h3 a,
blockquote,
.row .col.section-title span,
.row .col.section-title p,
body .vc_text_separator div,
#call-to-action,
.pricing-column h4 .dollar-sign {
	font-family: proxima-nova;
	font-weight: 300;
}

body h1.light, body h2.light, body h3.light, body h4.light, body h5.light, body h6.light, p.light {
	font-family: proxima-nova !important;
	font-weight: 300 !important;
}

body {
	color: #393836;
	font-family: proxima-nova;
	font-size: 15px;
	line-height: 23px;
}

a.pp_close,
.single-portfolio .facebook-share span, .single-portfolio .twitter-share span, .single-portfolio .pinterest-share span, .single-portfolio .google-plus-share span, .single-portfolio .linkedin-share span, 
.single-post .col.section-title .facebook-share span, .single-post .col.section-title .twitter-share span, .single-post .col.section-title .pinterest-share span, .single-post .col.section-title .google-plus-share span, 
.single-post .col.section-title .linkedin-share span, 
.pinterest-share span, .facebook-share span, .twitter-share span, .google-plus-share span, .linkedin-share span,
#search-results .result .title span,
body[data-full-width-header="false"] #slide-out-widget-area a.slide_out_area_close,
body .ui-widget,
select,
input[type=text], textarea, input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], input[type=date],
.single #single-meta ul li .nectar-love-wrap span {
	font-family: proxima-nova;
}

.nectar-social .nectar-love .nectar-love-count,
.nectar-love span {
	font-family: proxima-nova !important;
}

#page-header-bg h1,
.nectar-milestone .number,
.nectar-progress-bar span strong,
#call-to-action span,
dt,
h1,h2,h3,h4,h5,h6, .bold, strong, b,
header#top #logo,
.row .col.section-title h1, 
.row .col.section-title h2,
#respond h3, h3#comments,
.comment-list .comment-author,
#pagination span, #pagination a, #pagination .next.inactive, #pagination .prev.inactive, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce .container-wrap nav.woocommerce-pagination ul li span,
article.post .post-meta .month, article.post .post-meta .year {
	font-family: proxima-nova;
	font-weight: 600;
}

.search .row .col.section-title h1,
.nectar-progress-bar span strong i {
	font-family: proxima-nova !important;
	font-weight: 600 !important;
}

.swiper-slide .button a,
body .gform_wrapper .top_label .gfield_label,
body .vc_pie_chart .wpb_pie_chart_heading,
.pricing-column.highlight h3 .highlight-reason,
#footer-outer .widget h4, .text-on-hover-wrap .categories a,
.widget_calendar table th,
#footer-outer #footer-widgets .col .widget_calendar table th,
#call-to-action .container a,
#sidebar h4,
#infscr-loading,
#infscr-loading div,
.uppercase,
body #error-404 h1,
body #error-404 h2,
header#top nav > ul > li.megamenu > ul > li > a,
#search-outer  #search input[type=text],
.nectar-button,
.text_on_hover.product .add_to_cart_button,
.text_on_hover.product a.added_to_cart,
article.post .post-meta .day {
	font-family: proxima-nova;
	font-weight: 700;
}

html .woocommerce .woocommerce-message, html .woocommerce .woocommerce-error, html .woocommerce .woocommerce-info,
.woocommerce-info,
.woocommerce-message {
	background-color: #ebebeb !important;
	border-top: 3px solid #d50000 !important;
	color: #000 !important;
}

.woocommerce .woocommerce-info a {
	color: #d50000 !important;
}

.woocommerce a.button, .woocommerce-page a.button {
	color: #000 !important;
}

.home-img-1,
.home-img-2,
.home-img-3 {
	border: 7px solid #dfdfdf;
	width: 27%;
}

.home #single-meta {
	margin-top: 1.7%;
	float: left;
	margin-left: 10%;
}

.home .count {
	font-size: 20px;
}

/** Header (#header-outer) **/
/* header nav cc slant bar */
body {
	background-color: #fff;
}

#header-outer {
	background: -webkit-linear-gradient(#282828,#212121);
	background: -o-linear-gradient(#282828,#212121);
	background: -moz-linear-gradient(#282828,#212121);
	background: linear-gradient(#282828,#212121);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

nav > ul > li > ul > li > ul {
	color: rgb(255,255,255);
	background-color: rgb(137,0,0) !important;
}

#header-outer > div > div.cart-menu-wrap > div,
		#search-btn > div > a {
	border-left: 1px solid #1A1A1A !important;
	padding-bottom: 18px !important;
}

/* cc slant end */
header#top .sf-menu li ul li ul li a {
	background-color: #990000 !important;
}

header#top nav,
header#top nav > ul > li > a {
	font-family: proxima-nova;
	font-size: 14px !important;
	font-weight: 800;
}

header#top nav > ul > li > ul > li > a,
header#top nav > ul > li > ul > li > ul > li > a {
	font-family: proxima-nova;
	font-weight: 700;
}

#header-outer > div > div.widget.woocommerce.widget_shopping_cart > div > ul > li > dl {
	border-left: 0;
}

#header-outer > div > div.widget.woocommerce.widget_shopping_cart > div > ul > li > dl > dd > p {
	padding-bottom: 0;
}

.wf-loading header#top .menu-item a,
.wf-loading .port-home h2 {
	font-family: proxima-nova;
	visibility: hidden;
}

.wf-active header#top .menu-item a,
.wf-active .port-home h2 {
	visibility: visible;
}

/** Slider (#top-slider) **/
/** port-home **/
.port-home .carousel-heading {
	background-color: #fff !important;
}

.port-home a.portfolio-page-link {
	display: none;
}

.port-home a.carousel-prev {
	left: 90px;
}

.carousel-wrap[data-full-width="true"].default-style {
	padding: 0 !important;
}

.port-home ul.carousel li,
.port-home ul.carousel li img {
	margin: 0 !important;
}

.port-home  .carousel-wrap[data-full-width="true"] .carousel-heading i {
	font-weight: 900 !important;
}

.ascend .container-wrap input[type="submit"], .ascend .container-wrap button[type="submit"],
input[type=submit], button[type=submit], input[type="button"],
.button,
.port-home > div.col.span_12.dark.center > div > div > div > div > div.caroufredsel_wrapper.active > ul > li:nth-child(3) > div.work-meta > p.home-page-article-rm > a > button,
.ascend .container-wrap .port-home input[type="submit"],
.ascend .container-wrap .port-home button[type="submit"],
.port-home button {
	padding: 7px !important;
	border: 3px solid #000;
	text-transform: uppercase;
	font-family: proxima-nova;
	font-weight: 700;
	font-size: 18px;
	background: #fff;
	color: #d50000;
}

.creatine-work > div.col.span_12 > div > div > div > div > p:nth-child(3) > a,
.post > div > div.content-inner > div > a > span.continue-reading,
.woocommerce-cart .woocommerce a.button {
	padding: 7px !important;
	border: 3px solid #000 !important;
	text-transform: uppercase;
	font-family: proxima-nova;
	font-weight: 700 !important;
	font-size: 18px !important;
	background: #fff !important;
	color: #d50000 !important;
	border-radius: 0 !important;
}

.creatine-work > div.col.span_12 > div > div > div > div > p:nth-child(3) > a:hover,
.post > div > div.content-inner > div > a > span.continue-reading:hover,
.woocommerce-cart .woocommerce a.button:hover {
	background: #d50000 !important;
	color: #fff !important;
}

.ascend .container-wrap input[type="submit"]:hover, .ascend .container-wrap button[type="submit"]:hover,
input[type=submit], button[type=submit], input[type="button"]:hover,
.button:hover,
.port-home > div.col.span_12.dark.center > div > div > div > div > div.caroufredsel_wrapper.active > ul > li:nth-child(3) > div.work-meta > p.home-page-article-rm > a > button:hover,
.ascend .container-wrap .port-home input[type="submit"]:hover,
.ascend .container-wrap .port-home button[type="submit"]:hover,
.port-home button:hover {
	color: #fff;
}

.port-home .nectar-love-wrap {
	display: none;
}

.port-home .portfolio-items .work-meta {
	font-family: proxima-nova;
	text-align: center;
	float: left;
	margin-left: 15%;
	margin-right: 15%;
	font-size: 16px;
	color: #000;
}

.port-home .portfolio-items .work-meta h4 {
	font-family: proxima-nova;
	font-size: 23px;
	padding: 20px 0;
}

/** blog articles **/
#home-page-articles {
	display: none !important;
}

/** Mobile Accordian **/
.home-page-accordian .toggle {
	margin-bottom: 0 !important;
	border-bottom: 1px solid #A3A3A3;
}

.home-page-accordian .toggle h3 a i {
	display: none;
}

.home-page-accordian .toggle h3 a {
	font-family: proxima-nova;
	font-size: 25px !important;
	padding-left: 14px;
	font-weight: 700;
	text-align: center;
}

.home-page-accordian .toggle img {
	padding: 0;
}

/** Product Slider **/
.home-product-slider {
	background-image: url(http://aptsupps.com/wp-content/uploads/2015/05/gray-white-goal-gradient.jpg);
	background-size: initial;
	background-repeat: repeat-x;
	background-color: #fff;
}

.home-page-list {
	margin: 0;
}

.home-page-tab {
	width: 20%;
	height: 33px;
	display: block;
	float: left;
	text-align: center;
	color: #767676;
	font-weight: 600;
	cursor: pointer;
	list-style-type: none !important;
	list-style-position: inside !important;
}

.home-page-tab:hover {
	color: #d50000;
}

.home-choose-goal > div > p {
	padding-top: 52px;
}

.home-page-tab.active {
	color: #d50000;
	background: url('http://aptsupps.com/wp-content/uploads/2015/04/caret-apt.svg') center bottom no-repeat;
	padding-bottom: 13px;
}

.home-page-tab-wrap {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 32px;
}

.home-product-slider > div.col.span_12.dark.center > div > div > div > div > div.caroufredsel_wrapper.active > ul > li:nth-child(3) > div.work-meta > p.home-page-article-rm > a > button,
.ascend .container-wrap .home-product-slider input[type="submit"],
.ascend .container-wrap .home-product-slider button[type="submit"],
.port-home button {
	padding: 14px !important;
	border: 3px solid #000;
	text-transform: uppercase;
	font-family: proxima-nova;
	font-weight: 700;
	font-size: 18px;
	background: #fff;
	color: #d50000;
}

.home-product-slider > div.col.span_12.dark.center > div > div > div > div > div.caroufredsel_wrapper.active > ul > li:nth-child(3) > div.work-meta > p.home-page-article-rm > a > button:hover,
.ascend .container-wrap .home-product-slider input[type="submit"]:hover,
.ascend .container-wrap .home-product-slider button[type="submit"]:hover,
.port-home button:hover {
	color: #fff;
}

/** Footer (#footer-outer) **/
#woocommerce_product_categories-5 > ul > li > a {
	background-color: #1B1B1B;
	color: #A0A0A0 !important;
	cursor: pointer;
	display: inline-block;
	float: left;
	margin: 3px 3px 0 0;
	padding: 5px 7px;
	position: relative;
	font-size: 8pt !important;
	text-transform: capitalize;
	transition: all .2s linear;
	line-height: 22px;
}

#woocommerce_product_categories-5 > ul > li > a:hover {
	background-color: #d50000;
	color: #fff !important;
}

#woocommerce_product_categories-5 > ul > li {
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none !important;
	list-style: none !important;
}

#footer-outer #footer-widgets .col ul li:first-child > a,
#woocommerce_product_categories-5 > ul > li:first-child > a {
	padding: 5px 7px !important;
}

#woocommerce_widget_cart-3 > div > ul > li > a.remove {
	font-size: 20px !important;
}

#woocommerce_widget_cart-3 > div > ul > li > dl {
	border-left: 0;
}

#woocommerce_widget_cart-3 > div > ul > li > dl > dd {
	margin-bottom: 0;
}

#footer-outer nav.footer-nav {
	left: 0;
	position: relative;
	text-align: center !important;
	width: 100%;
	z-index: 1;
	font-family: proxima-nova;
	font-size: 14px !important;
	font-weight: 800;
}

#footer-outer ul.footer-menu {
	left: 0;
	position: relative;
	text-align: center !important;
	width: 100%;
	z-index: 1;
	float: right;
	overflow: visible !important;
	transition: padding .8s ease, margin .25s ease;
	min-height: 1px;
	line-height: 1px;
	background: #000;
}

#footer-outer .footer-menu li {
	float: none;
	display: inline-block;
	padding: 32px 0;
}

#footer-outer .footer-menu a {
	padding: 0 1em 0 .45em;
	border-right: 1px solid #383838;
}

#footer-outer .footer-menu li:last-child a {
	padding: 0 1em 0 .45em;
	border-right: 0;
}

#copyright > div > div.col.span_5 {
	background: url('http://aptsupps.com/wp-content/uploads/2015/04/apt-a-icon-red.png') left;
	background-size: 115px;
	background-repeat: no-repeat;
}

#copyright > div > div.col.span_5 > p {
	margin-left: 130px;
	width: 228%;
	padding: 73px 0 0;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
	width: 20px !important;
	border: 1px solid #d50000 !important;
}

.fda-statement {
	display: none;
}

.postid-2713 #copyright > div > div.col.span_5 > p,
.postid-2721 #copyright > div > div.col.span_5 > p,
.postid-2718 #copyright > div > div.col.span_5 > p,
.postid-248 #copyright > div > div.col.span_5 > p,
.postid-1328 #copyright > div > div.col.span_5 > p,
.postid-940 #copyright > div > div.col.span_5 > p,
.postid-942 #copyright > div > div.col.span_5 > p,
.postid-943 #copyright > div > div.col.span_5 > p,
.postid-941 #copyright > div > div.col.span_5 > p {
	padding: 0;
}

.postid-2713 .fda-statement,
.postid-2721 .fda-statement,
.postid-2718 .fda-statement,
.postid-248 .fda-statement,
.postid-1328 .fda-statement,
.postid-940 .fda-statement,
.postid-942 .fda-statement,
.postid-943 .fda-statement,
.postid-941 .fda-statement {
	display: inline !important;
}

.postid-2713 .woocommerce-message,
.postid-2721 .woocommerce-message,
.postid-2718 .woocommerce-message,
.postid-248 .woocommerce-message,
.postid-1328 .woocommerce-message,
.postid-940 .woocommerce-message,
.postid-942 .woocommerce-message,
.postid-943 .woocommerce-message,
.postid-941 .woocommerce-message {
	position: absolute !important;
	width: 100% !important;
	z-index: 20 !important;
}

/*** PRODUCT PAGE (.single-product) ***/
/** Product Image (.single-product-main-image) **/
span.onsale {
	display: none;
}

div.span_5.col.single-product-main-image {
	margin-top: 1%;
}

div.span_5.col.single-product-main-image > div > a > img {
	margin-top: 5%;
	width: auto;
	height: auto;
}

/** Product Summary (.single-product-summary) **/
#product-2718 div.product_meta > span.posted_in > a,	 	 
#product-2713 div.product_meta > span.posted_in > a,	 	 
#product-2721 div.product_meta > span.posted_in > a,	 	 
#product-941 div.product_meta > span.posted_in > a:first-child,	 	 
#product-940 div.product_meta > span.posted_in > a:first-child,	 	 
#product-942 div.product_meta > span.posted_in > a:first-child,	 	 
#product-943 div.product_meta > span.posted_in > a:first-child,
#product-248 div.product_meta > span.posted_in > a:first-child,
#product-1328 div.product_meta > span.posted_in > a:first-child,
#product-2966 div.product_meta > span.posted_in > a:first-child,
#product-2971 div.product_meta > span.posted_in > a:first-child,
#product-2976 div.product_meta > span.posted_in > a:first-child {
	display: none;
}

#product-941 div.product_meta > span.posted_in,
#product-940 div.product_meta > span.posted_in,
#product-942 div.product_meta > span.posted_in,
#product-943 div.product_meta > span.posted_in,
#product-248 div.product_meta > span.posted_in,
#product-1328 div.product_meta > span.posted_in,
#product-2966 div.product_meta > span.posted_in,
#product-2971 div.product_meta > span.posted_in,
#product-2976 div.product_meta > span.posted_in {
	content: "" !important;
}

.single-product-summary .star-rating {
	border-right: 1px solid #7f7f7f;
	padding-right: 77px;
	margin-right: 9px !important;
}

.single-product-summary .woocommerce-review-link {
	line-height: 30px;
}

.single-product-summary .woocommerce-product-rating {
	font-size: 13px;
	display: -webkit-inline-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.woocommerce.single-product #single-meta {
	display: -webkit-inline-box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.count {
	font-size: 13px !important;
	color: #D50000;
}

a.facebook-share i,
.icon-facebook {
	height: 16px !important;
}

a.twitter-share i,
.icon-twitter {
	height: 20px !important;
}

a.google-plus-share i,
.icon-google-plus {
	height: 14px !important;
}

.nectar-social > * {
	border-right: 1px solid #7f7f7f;
}

.single-product-summary del {
	font-size: 26px !important;
	opacity: 1 !important;
}

/* Variations Box Switch */
.woocommerce form.variations_form.cart {
	border: 10px solid rgba(0,0,0,0.3);
	border-radius: 0;
	width: 551px;
	height: 86px;
}

#product-940 > div.span_7.col.col_last.single-product-summary > div > form {
	width: 568px !important;
}

.woocommerce table.variations {
	background-color: #f1f1f1 !important;
	border-radius: 0;
	margin-left: -1px !important;
}

.woocommerce div.product form.cart table td.value:nth-child(2) {
	padding-left: 12px;
}

.woocommerce div.single_variation_wrap {
	width: 240px;
	border-radius: 0;
}

.woocommerce div.quantity.buttons_added {
	background-color: #FFF;
	padding: 10px;
	margin: 0 !important;
}

/* End Variations Box Switch */
#pa_flavor,
#pa_servings,
#pa_color,
#pa_size {
	background-color: #f8f8f8;
	border: 1px solid #b3b3b3 !important;
	box-shadow: 0 0 0 rgba(0,0,0,0) !important;
	border-radius: 0;
	height: 46px;
}

.variations .label {
	display: none !important;
}

form.variations_form div.quantity {
	padding-top: 10px;
}

form.variations_form div.quantity input.minus {
	border-radius: 5px 0 0 5px !important;
}

form.variations_form div.quantity input.plus {
	border-radius: 0 5px 5px 0 !important;
}

.woocommerce form.variations_form div.variations_button > button {
	margin-top: 10px !important;
	border-radius: 5px !important;
	margin-left: 6px !important;
	background-color: #d50000 !important;
	padding: 16.5px !important;
}

.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/06/bg-split-1px.jpg');
	background-position: right -52px;
	background-repeat: repeat-x;
	margin-top: -15px;
}

.postid-940.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/06/creatine-bg-top-header.jpg');
	background-position: 63% -52px;
	background-repeat: no-repeat;
}

.postid-941.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/06/bcaa-bg-top-header.jpg');
	background-position: 81% -52px;
	background-repeat: no-repeat;
}

.postid-1328.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/testd12-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-248.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/superset-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-942.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/glutamine-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-943.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/lcar500-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-2713.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/performance-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-2718.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/recovery-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

.postid-2721.single-product .container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/hydration-header-img.jpg');
	background-position: right -52px;
	background-repeat: no-repeat;
}

body.single-product #ajax-content-wrap > div.container-wrap > div > div {
	padding-top: 22px;
}

.single-product .price {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.single-product .price ins {
	padding-left: 8px;
}

.woocommerce div.product_meta {
	margin-bottom: -13px;
	margin-top: 80px;
}

span.sku_wrapper,
span.tagged_as {
	display: none;
}

.woocommerce div.product_meta > span.posted_in > a {
	font-family: proxima-nova;
	font-weight: 600;
	color: #939393;
	letter-spacing: -.5px;
	text-transform: uppercase;
	font-size: 22px;
	line-height: 36px;
}

div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title {
	text-transform: lowercase;
	font-size: 4.3em;
	font-size: 55px;
	text-align: left;
	color: #FFF;
	line-height: 1.2em;
	margin-top: 0;
	font-family: gunship;
	padding-right: 0 !important;
	width: 125%;
	margin-bottom: 0;
}

div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
	text-transform: lowercase;
	color: #d50000;
	font-size: 50px;
	position: relative;
	font-style: italic;
	margin-left: -2%;
}

.postid-2713 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second, 
.postid-2721 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second, 
.postid-2718 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second,
.postid-2834 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second,
.postid-2844 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
	font-size: 55px;
	margin-left: 0;
}

.postid-2718 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title,
.postid-2721 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title,
.postid-2713 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title, 
.postid-2834 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title,
.postid-2844 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1.product_title {
	line-height: 1em;
}

.postid-248 div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 > span.product_title_second {
	margin-left: 0;
}

#product-1291 > div.span_7.col.col_last.single-product-summary > div.summary.entry-summary > h1 {
	margin-bottom: -3% !important;
}

.creatine-work ul li:before,
.summary ul li:before {
	font-family: icomoon;
	content: "\ea10";
	color: #ce2129;
	font-size: 20px;
	line-height: 20px;
}

.creatine-work ul li {
	list-style-position: inside;
	list-style: none;
	margin: 0 0 6px;
	font-size: 20px;
	line-height: 1.55;
}

.summary ul li {
	list-style-position: inside;
	list-style: none;
	position: relative;
	margin: 0 0 6px;
	font-size: 20px;
	line-height: 20px;
	color: #FFF;
}

.woocommerce .single-product-summary div.single_variation del,
.woocommerce div.product p.price del {
	font-size: 26px !important;
	opacity: 1 !important;
	color: #7d7d7d;
}

.woocommerce .single-product-summary div.single_variation del span.amount,
.woocommerce p.price del span.amount {
	color: #d50000;
}

.woocommerce .single-product-summary div.single_variation ins span.amount,
.woocommerce p.price ins span.amount {
	color: #fff;
}

div.variations_button > button {
	border-radius: 5px !important;
}

/** Product Expectations (.creatine-expect) **/
.creatine-expect h2 {
	text-align: left;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 18px;
	letter-spacing: 0;
	font-family: proxima-nova;
	text-transform: uppercase;
	font-weight: bold;
	color: #393836;
}

.creatine-expect li,
.creatine-expect ul {
	text-align: left;
	line-height: 23px;
	padding-bottom: 0;
	color: #393836;
}

.creatine-expect p {
	text-align: justify;
	line-height: 23px;
	margin-bottom: 25px !important;
	margin-top: 10px !important;
	padding-bottom: 0;
	color: #393836;
}

.postid-941 .creatine-expect > div.col.span_12.dark > div.col.span_6.col_last > span > div > img {
	margin-left: 6%;
	margin-top: 7%;
}

.single-product .toggle.accent-color {
	background-color: #d50000;
}

.single-product .toggles h3 a,
.single-product .toggle h3 a i {
	color: #fff;
	font-size: 14px !important;
	font-weight: 600;
}

.creatine-expect > div.col.span_12 > div:nth-child(6) > div > img {
	padding-right: 0 !important;
}

.creatine-expect > div.col.span_12 > div:nth-child(6) {
	margin-right: 0 !important;
}

.creatine-expect > div.col.span_12 > div:nth-child(7) > div > img {
	padding-left: 0 !important;
}

.single-product .toggles img {
	padding: 2% 15%;
}

/** Product Milestones (.creatine-milestone) **/
.nectar-milestone .subject {
	padding-top: 1.5%;
}

/** Product Description (.creatine-description) **/
.creatine-description h2 {
	text-align: left;
	font-size: 22px;
	margin-top: 0;
	margin-bottom: 18px;
	letter-spacing: 0;
	font-family: proxima-nova;
	text-transform: uppercase;
	font-weight: bold;
	color: #393836;
}

.creatine-description p {
	text-align: justify;
	line-height: 23px;
	margin-bottom: 25px !important;
	margin-top: 10px !important;
	padding-bottom: 0;
	color: #393836;
}

.postid-940 .creatine-description > div.col.span_12 > div.col.span_6.col_last > div > img {
	padding: 0 !important;
	margin: 0 !important;
	right: -40px !important;
}

.postid-940 .creatine-description > div.col.span_12 > div.col.span_6.col_last {
	margin-bottom: 0 !important;
	width: 27% !important;
}

.postid-940 > div.col.span_12 > col span_6 {
	margin-left: 14% !important;
	margin-right: 0 !important;
	padding: 0 !important;
}

.creatine-description > div.col.span_12 > div.col.span_3.one-fourths.right-edge {
	width: 55%;
}

.creatine-description li,
.creatine-expect ol {
	text-align: left;
	line-height: 23px;
	padding-bottom: 0;
	color: #393836;
}

/** Product Mini Articles (.creatine-work) **/
.creatine-work h2 {
	text-align: center;
	font-size: 45px;
	margin-top: 0;
	margin-bottom: 18px;
	letter-spacing: 0;
	font-family: proxima-nova;
	font-weight: 800;
	text-transform: uppercase;
	color: #393836;
}

.creatine-work p {
	text-align: center;
	line-height: 23px;
	margin-bottom: 25px !important;
	margin-top: 10px !important;
	padding-bottom: 0;
	color: #393836;
}

.creatine-work {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/02/gradient-top-to-bottom.svg');
	background-repeat: round;
}

.postid-940  .creatine-work > div.col.span_12 > div:nth-child(4) > img {
	width: 57%;
	margin-bottom: 4% !important;
}

.postid-940 .creatine-work > div.col.span_12 > div:nth-child(15) > img {
	margin-top: 6%;
	margin-left: -3%;
}

.creatine-work > div.col.span_12 > h2:nth-child(6) {
	font-size: 45px;
	margin-bottom: 0 !important;
}

.creatine-work h2.atp-headline {
	padding: 2% inherit;
	font-size: 60px;
	font-weight: 700;
	font-family: matt-b;
	color: #d50000;
}

.creatine-work h2.adp-headline {
	padding: 5% inherit 3%;
}

.creatine-work > div.col.span_12 > div:nth-child(9) > img {
	width: 70%;
	margin-bottom: 3% !important;
}

.creatine-work > div.col.span_12 > div:nth-child(12) > img {
	float: left;
	width: 12%;
	margin-right: 1%;
	margin-left: 13%;
}

.creatine-work > div.col.span_12 > p:nth-child(14) {
	margin-top: 6% !important;
	width: 88%;
}

/** Product Parallax Banner (.creatine-parallax) **/
.creatine-parallax {
	background-color: black;
}

/** Product Guarantee (.creatine-guarantee) **/
.creatine-guarantee {
	border-bottom: 1px solid #ededed;
}

.creatine-guarantee h2 {
	font-size: 14px;
	margin-top: 1.5%;
	margin-bottom: 0;
	letter-spacing: 0;
	font-weight: bold;
	color: #9f9f9f;
	text-align: left;
}

.creatine-guarantee p {
	font-size: 12px;
	line-height: 23px;
	margin-bottom: 25px !important;
	margin-top: 3px !important;
	padding-bottom: 0;
	color: #9f9f9f;
}

.creatine-guarantee > div.col.span_12 > div > img {
	margin: 0 auto;
}

.creatine-ghost > div.col.span_12.light {
	text-align: center;
}

.creatine-ghost a {
	color: white;
}

.get-started {
	font-size: 55px;
	font-family: proxima-nova;
	font-weight: bolder;
}

.buy-it-now-ghost {
	font-size: 50px;
	font-family: proxima-nova;
	font-weight: bolder;
	border: 4px solid #fff;
	padding: 15px 25px;
	margin-left: 2%;
	line-height: 4.5;
}

/** Related Products (.related) **/
.related > h2 {
	font-size: 22px !important;
	margin-top: 0;
	margin-bottom: 37px;
	letter-spacing: 0;
	text-transform: uppercase;
	font-weight: bold;
	color: #393836;
}

/*** Shop ***/
#ajax-content-wrap.at-content > div.container-wrap > div > div > div.term-description {
	display: none;
}

ul.products li {
	text-align: center;
}

.woocommerce ul.products li.product .price del {
	opacity: 1 !important;
}

.woocommerce ul.products li.product.classic h3, 
.woocommerce-page ul.products li.product.classic h3 {
	font-size: 18px !important;
	font-weight: 700;
	font-family: proxima-nova;
	text-transform: uppercase;
	margin-top: 0 !important;
	padding-top: 0 !important;
}

.archive .row h1.page-title {
	font-family: proxima-nova;
	font-weight: 900;
}

/*** Become A Distrubtor ***/
#wpcf7-f990-p28-o1 > form > div.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
	margin: 26.7em .5em 1em 0;
	padding: .8em 1em;
}

/*** CART ***/
.woocommerce-cart form div.col.span_8 {
	background: url(http://aptsupps.com/wp-content/uploads/2015/03/gradient-right-to-left.png);
	background-repeat: repeat-y;
	background-position: right;
	background-size: contain;
}

#shipping_method > li:nth-child(1) {
	display: none;
}

#shipping_method_0_free_shipping {
	display: none;
}

#shipping_method > li:nth-child(2) {
	padding-top: 0 !important;
}

/*** ABOUT ***/
.about_seperator {
	font-size: 45px;
}

/*** Blog ***/
.archive .row .col.section-title h1 {
	font-family: proxima-nova;
	font-weight: 900;
}

.archive h2 {
	font-weight: 900;
}

.single-post .row .col.section-title h1,
.single-post .row .col.section-title h2 {
	font-family: proxima-nova;
	font-weight: 900;
}

/*** APT Guarantee ***/
.page-id-2994 #ajax-content-wrap > div.container-wrap {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/05/about-us-bg-no-line.jpg');
	background-position: 49% 65%;
}

/*** Check out ***/
.page-id-128 #ajax-content-wrap > div.container-wrap > div > div {
	padding: 32px;
}

/*** Connect ***/
.page-id-28 #ajax-content-wrap > div.container-wrap > div > div {
	padding: 32px;
}

/*** Contact Us ***/
page-id-24 input, .container-wrap input[type="text"],
page-id-28 input,
page-id-128 input,
.container-wrap input[type="text"], .container-wrap textarea, .container-wrap input[type="email"], .container-wrap input[type="password"], .container-wrap input[type="tel"], .container-wrap input[type="url"], .container-wrap input[type="search"], .container-wrap input[type="date"] {
	padding: 16px !important;
	background-color: #EBEBEB !important;
	font-weight: 700;
}

/*** FONTS ***/
@font-face {
	font-family: gunship;
	src: local('gun4f.ttf'), url("fonts/gun4f.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: 'icomoon';
	src: local('icomoon.eot'), url('fonts/icomoon.eot') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg') format("svg");
	font-weight: normal;
	font-style: normal;
}

/*** ALEX BURTON CSS ADDITIONS ***/
.red-tape {
	border-left: solid 6px #ce2129;
	color: #ce2129;
	background-color: #e4e4e4;
	margin-bottom: 2%;
	padding-left: 2%;
}

.h3-hover:hover {
	background-color: #ce2129;
	color: #fff;
	padding: 0 0 0 1%;
}

sup {
	font-weight: 700;
}

sup:hover {
	font-weight: 700;
	color: #fff;
	background-color: #ce2129;
	padding: 0 4px;
}

/*** SAMUEL OTERO CSS ADDITIONS ***/
/*** Red Highlight Effect ***/
.port-home h2 {
	font-size: 70px !important;
	font-weight: 900 !important;
	font-family: proxima-nova !important;
}

.port-home .carousel-heading {
	padding-top: 63px !important;
	padding-bottom: 60px !important;
}

::-moz-selection {
	background-color: #d50000;
	color: #fff;
}

::selection {
	background-color: #d50000;
	color: #fff;
}

.archive .container-wrap input[type="text"],
.single .container-wrap input[type="text"] {
	padding: 10px !important;
}

.fbook-icon .fa,
.twit-icon .fa {
	font-size: 20px;
}

#menu-item-717 {
	border-left: 1px solid #1A1A1A !important;
	padding-left: 17px;
	margin-left: 12px;
}

.single-product #ajax-content-wrap {
	margin-top: -18px;
}

html .woocommerce .woocommerce-message a, html .woocommerce .woocommerce-error a, html .woocommerce .woocommerce-info a, .woocommerce-info a, .woocommerce-message a {
	color: #000;
}

/*** SS Landing Page ***/
body.page-id-3478 #ajax-content-wrap {
	margin-top: -63px;
}

.sslanding {
	max-width: 200% !important;
	width: 156%;
	margin: 18px 0 0 -28%;
	text-align: center;
}

body.page-id-3478 #about h4 {
	font-family: gunship;
	font-style: italic;
	color: #d50000;
	letter-spacing: 2px;
}

body.page-id-3478 #about .icon1 {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/pump-ico-1.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon1:hover {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/pump-ico-2.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon2 {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/performance-ico-1.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon2:hover {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/performance-ico-2.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon3 {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/energy-ico-1.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon3:hover {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/energy-ico-2.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon4 {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/strength-ico-1.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #about .icon4:hover {
	background-image: url('http://aptsupps.com/wp-content/uploads/2015/08/strength-ico-2.svg');
	width: 165px;
	height: 165px;
	margin: auto;
}

body.page-id-3478 #mile div.vc_col-sm-6 img {
	margin-top: 0;
}

body.page-id-3478 #mile div.vc_col-sm-3.wpb_column > div {
	margin-top: 0 !important;
}

body.page-id-3478 #mile div.vc_col-sm-3.wpb_column > div > div:nth-child(2) {
	padding: 9% 0 0;
}

body.page-id-3478 #mile div.vc_col-sm-3.wpb_column > div > div:nth-child(3) {
	padding: 5% 0 0;
}

body.page-id-3478 #mile > div.col.span_12.dark.left > div.vc_col-sm-3.wpb_column > div > div.wpb_text_column.wpb_content_element > div > p:nth-child(5) > em > a:hover {
	color: #444;
}

/* Sidebar */
#sidebar > div {
	margin-top: 4px;
}