form.variations_form.cart {
	
    border: 10px solid rgba(0,0,0,0.3);      
    border-radius: 20px;
    width: 80%;
    height: 88px;
}

table.variations {
    background-color: #f1f1f1 !important;
    border-radius: 10px 0 0 10px;
    margin-left: -0.1%;
}

td.value {
	padding-left: 4%;
}

div.single_variation_wrap {
    width: 42.5%;
    border-radius: 0 10px 10px 0;
    background-color: #D50000!important;   
}

div.quantity.buttons_added {
    background-color: #FFF;
    padding: 11px;
}

button.single_add_to_cart_button.button.alt {        
    background-color: transparent !important;
    margin: 10px 0 0 !important;
    padding: 16.5px 15px !important;
}